@media (max-width: 1400px) {
    .priority-3d {
        .swiper-slide-prev-1,
        .swiper-slide-next-1 {
            z-index: 1;
            opacity: 0;
            transform: scale(0.5);
        }
    }
}
@media (max-width: 1200px) {
    .main-header {
        &__nav {
            display: none;
            padding: 0;
            position: fixed;
            left: 0px;
            width: 100%;
            top: 3.5rem;
            height: 100vh;
            background: white;
            z-index: 10;
        }
        &__tools {
            display: none;
        }
        &__mobile {
            gap: 16px;
            margin-left: auto;
            display: flex;
            align-items: center;
        }
        &__logo {
            img {
                height: 1.5rem;
            }
        }
        &__link {
            padding: 0;
            font-size: 1.5rem;
            font-weight: 600;
        }
        &__links {
            padding: 2.875rem 0;
            flex-direction: column;
            gap: 2.5rem 0;
        }
        &__sub-links {
            width: auto;
            box-shadow: none;
            background: none;
            position: static;
            display: block;
            &::before {
                display: none;
            }
        }
        &__sub-link {
            padding: 0;
            margin-top: 1rem;
            &:hover {
                background: none;
                color: $orange-400;
            }
        }
    }
    /* ---------------------------------- index --------------------------------- */
    .map-afiliates {
        &_interactive {
            position: relative;
            top: 0;
            left: 0;
            img {
                width: 100%;
            }
        }
        &__directions {
            width: 100%;
            height: 100%;
        }
    }
    /* ---------------------------------- lines --------------------------------- */
    .lines-cars {
        background-image: none
    }
    .line-company {
        background-image: none
    }
    .line-weights {
        background-image: none
    }
    .line-weights {
        background-image: none
    }
    .lines-geography {
        background-image: none
    }
    .lines-directions {
        background-image: none
    }
    .lines-persona {
        background-image: none
    }
    .lines-news {
        background-image: none
    }
    
    
    
    .line-left-start {
        background-image: none
    }
    .line-left-end {
        background-image: none
    }
    .line-left-single {
        background-image: none;
        &_dark {
            background-image: none;
        }
        &_light {
            background-image: none;
        }
    }
    .lines-about-group {
        background-image: none;
    }
}
@media (max-width: 992px) {
    .map-afiliates {
        position: relative;
        left: 0;
        bottom: 0;
        &__point {
            position: absolute;
            &_spb {
                left: 19.5%;
                top: 47%;
            }
            &_msk {
                left: 18%;
                top: 57.5%;
            }
            &_krasnodar {
                left: 7.5%;
                top: 79%;
            }
        }
        &_interactive {
            .map-afiliates__point_spb {
                left: 14.5%;
                top: 47%;
            }
            .map-afiliates__point_msk {
                left: 13%;
                top: 57.5%;
            }
            .map-afiliates__point_krasnodar {
                left: 7%;
                top: 79%;
            }
        }
    }
    /* ---------------------------------- jobs ---------------------------------- */
    .table-style-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        &__item {
            padding: 1rem;
            gap: 1rem;
            grid-template-columns: 1fr 1fr;
            > div:first-child {
                grid-column: 2 span;
            }
            > div:last-child {
                display: none;
            }
            &_docs {
                grid-template-columns: 1fr;
                > div:first-child {
                    grid-column: 1;
                }
                > div:last-child {
                    margin-top: 2rem;
                    text-align: left;
                    display: block;
                }   
            }
        }
        &__item-title {
            display: block;
        }
        
    }
    /* -------------------------------- structure ------------------------------- */
    .structure {
        gap: 1.5rem;
        &:before {
            display: none !important;
        }
        &__row {
            grid-template-columns: repeat(1, 1fr);
            gap: 1.5rem;   
        }
        &__item {
            &:before,
            &:after {
                display: none !important;
            }
            &_clear {
                display: none;
            }
            &_head {
                height: 8.75rem;
                img {
                    height: 48px;
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .container {
        padding-right: var(--bs-gutter-x, 1rem);
        padding-left: var(--bs-gutter-x, 1rem);
    }
    .row {
        --bs-gutter-x: 1rem;
    }
    /* ---------------------------------- index --------------------------------- */
    .map-afiliates {
        &__point {
            &_spb {
                left: 26.5%;
                top: 47%;
            }
            &_msk {
                left: 25%;
                top: 57.5%;
            }
            &_krasnodar {
                left: 13.5%;
                top: 79%;
            }
        }
        &_interactive {
            .map-afiliates__point {
                transform: scale(0.8);
                transform-origin: left;
            }
            .map-afiliates__point_spb {
                left: 16.5%;
                top: 47%;
            }
            .map-afiliates__point_msk {
                left: 14%;
                top: 57.5%;
            }
            .map-afiliates__point_krasnodar {
                left: 8%;
                top: 77%;
            }
        }
    }
}
@media (max-width: 576px) {
    body {
        @include scrollbars(.25rem, $orange-400, transparent);
    }
    figure {
        margin: 1.5rem 0;
        img {
            border-radius: 2.5rem .625rem .625rem .625rem;
        }
    }
    h1,.h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    h2,.h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    h3,.h3 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
    h4,.h4 {
        font-size: 1.125rem;
        margin-bottom: 0.75rem;
        margin-top: 0.75rem;
    }
    h5,.h5 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
    }
    blockquote {
        margin: 1rem 0;
        padding-left: 1rem;
        font-size: 1rem;
    }
    .section-space {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        &_top-half {
            padding-top: 1.5rem;
        }
    }
    .section-text {
        font-size: 1rem;
    }
    .section-btn {
        max-width: 100%;
        margin-top: 2.5rem;
        .button {
            max-width: 100%;
        }
    }
    .section-header {
        margin-bottom: 24px;
    }
    .section-image {
        height: 12.5rem;
        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    /* --------------------------------- cookies -------------------------------- */
    .cookies-access {
        align-items: flex-start;
        gap: 2rem;
        &__btn {
            margin-top: 1.75rem;
        }
    }
    /* ---------------------------------- index --------------------------------- */
    .counters-statistic {
        margin-top: 2.5rem;
    }
    .finance-graph {
        &__bar {
            border-radius: 2.5rem .625rem .625rem 0rem;
        }
        &__bar-label {
            font-size: 1rem;
        }
    }
    .direction-card {
        padding: 1rem;
        box-shadow: $shadow-large;
        &__icon_hover {
            opacity: 1;
        }
        &__icon_normal {
            opacity: 0;
        }
    }
    .map-afiliates {
        top: -50px;
        height:500px;
        transform: scale(0.75);
        &__point {
            &_spb {
                left: 142px;
                top: 56%;
            }
            &_msk {
                left: 125px;
                top: 69.5%;
            }
            &_krasnodar {
                left: 60px;
                top: 96%;
            }
        }
        &__directions-text {
            display: none;
        }
        &_interactive {
            margin-top: 2.5rem;
            top: 0;
            height: auto;
            transform: none;
        }
    }
    .persona {
        &__blockquote {
            font-size: 1.25rem;
            margin-bottom: 2.5rem;
            margin-top: 2.5rem;
            position: relative;
            &:before {
                bottom: 100%;
                transform: scale(0.6);
                transform-origin: left center;
            }
            &:after {
                left: auto;
                top: 100%;
                right: 0;
                transform: scale(0.6);
                transform-origin: right center;
            }
        }
        &__name {
            h4 {
                margin: 0;
            }
        }
    }
    .news-card {
        border-radius: .625rem .625rem .625rem .625rem;
        &:hover {
            border-radius: .625rem .625rem .625rem .625rem;
        }
    }
    /* ------------------------------- directions ------------------------------- */
    .directions-types {
        margin-top: 2rem;
        justify-content: space-between;
        gap: 0;
        &__icon {
            width: 5rem;
            height: 5rem;
            img {
                width: 80%;
            }
        }
    }
    .flights-bg {
        background-image: none;
    }
    .form-card {
        padding: 1rem;
        border-radius: 1.5rem 0 0 0;
    }
    .direction-image {
        img {
            border-radius: 2.5rem .625rem .625rem .625rem;
        }
    }
    .direction-cards {
        margin-top: -3rem;
    }
    /* ---------------------------------- news ---------------------------------- */
    .share-article {
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
    }
    /* ---------------------------------- jobs ---------------------------------- */
    .table-style-list {
        grid-template-columns: 1fr;
        gap: 1rem;
        &__item {
            padding: 1rem;
            gap: 1rem;
            grid-template-columns: 1fr;
            > div:first-child {
                grid-column: 1;
            }
        }
        &__item-title {
            display: block;
        }
        
    }
    .job-info-card {
        padding: 1rem;
        font-size: 1rem;
        list-style: none;
        gap: 0.5rem;
    }

    /* ---------------------------------- about --------------------------------- */
    .company-counts {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        &__item {
            display: flex;
            align-items: center;
            border-left: 1px $gray-200 solid;
            padding: 0.5rem 0 0.5rem 1rem;
            gap: 1rem;
        }
        b {
            font-size: 2rem;
        }
    }
    .priority-card {
        border-radius: .625rem 0 0 0;
    }
    .employee-card {
        border-radius: 2.5rem .625rem .625rem .625rem;
    }
    /* --------------------------------- history -------------------------------- */
    .years-list {
        border-bottom: 1px $gray-100 solid;
        margin-bottom: 2.5rem;
        &__item {
            font-size: 1rem;
            padding: 0.5rem 0;
        }
    }
    /* -------------------------------- contacts -------------------------------- */
    .contact-box {
        margin-top: 2rem;
        &__title {
            font-size: 14px;
        }
        &__text {
            font-size: 1rem;
        }
    }
    .map-section {
        height: 100vw;
    }
    /* --------------------------------- footer --------------------------------- */
    .main-footer {
        &__top {
            padding: 2.5rem 0 1.5rem 0;
        }
        &__mail {
            margin-top: 1.5rem;
        }
        &__bottom {
            padding: 1.5rem 0
        }
    }
    /* ----------------------------------- 404 ---------------------------------- */
    .page-404 {
        padding: 4rem 0;
        &__title {
            font-size: 1.5rem;
            margin: 1.5rem 0;
        }
        &__text {
            margin-bottom: 2rem;
        }
    }
    /* ---------------------------------- lines --------------------------------- */
    .lines-cars {
        background-image: url(../img/lines/land-cars-lines-mob.png);
        background-position: right bottom;
        background-repeat: no-repeat;
    }

    /* ----------------------------------- ui ----------------------------------- */
    .breadcrumbs {
        margin-bottom: 2.5rem;
        .icon-arrow-left {
            display: inline-block;
            margin-right: .5rem;
        }
        &__item + &__item {
            display: none;
        }
    }
    .button {
        &_m-full {
            width: 100%;
        }
    }
    
    .blocker {
        padding: 2rem 1rem;
    }
    .modal {
        width: auto;
        padding: 1rem;
        &__header {
            margin-bottom: 2rem;
        }
    }
    .drop-zone {
        margin: 1.5rem 0;
    }
}

@media (max-width: 400px) {
    .map-afiliates {
        &_interactive {
            .map-afiliates__point_spb {
                left: 18.5%;
            }
            .map-afiliates__point_msk {
                left: 16%;
            }
            .map-afiliates__point_krasnodar {
                left: 10%;
            }
        }
    }
}


